/* Custom fonts - Sniglet and Front Awesome */
@import url('http://fonts.googleapis.com/css?family=Sniglet');
@import url('http://thecodeplayer.com/uploads/fonts/font-awesome-4.1.0/css/font-awesome.min.css');

* {
  margin: 0;
  padding: 0;
}

body {
  background: hsl(120, 40%, 60%);
  padding: 150px 0;
  font: normal 18px Sniglet;
  color: white;
  text-align: center;
}
